<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<h1>Расчет</h1>
<form method="post" action="">
    {% csrf_token %}
    <p>
        <input type="submit" value="рассчитать" />
    </p>
</form>

{% if outc %}
    <h2>Результат для заказчиков</h2>
{% endif %}

{% for demand in outc %}
    <h4>Потребность: (п{{ demand.pk }}) {{ demand.demand }}, заявлена {{ demand.demand.dt_created }}</h4>
    <br />
    <table width="100%" border=1 cellpadding=5 cellspacing=0 >
    <tr>
        <th>
            Дата
        </th>
        {% for pit in demand.pits %}
            <th>
                {{ pit.pit }}<br />
                {{ pit.distance }} км.<br />
                {{ pit.pitmaterial.capacity }} кбм/день.<br />
            </th>
        {% endfor %}
        <th>
            Нужно/Не удовлетворено
        </th>
    </tr>
    {% for date in demand.dates %}
        <tr>
            <td>
                {{ date.date|date:"d.m.Y" }}
            </td>
            {% for vol in date.volumes %}
                <td>
                {{ vol }}
                </td>
            {% endfor %}
            <td>
            {{ date.need }} / 
            {% if date.not_satisfied %}
                <b>
            {% endif %}
            {{ date.not_satisfied }}
            {% if date.not_satisfied %}
                </b>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}

{% if outp %}
    <h2>Результат для карьеров</h2>
{% endif %}

{% for pitmaterial in outp %}
    <i>(Карьер:Материал) </i><big><b>{{ pitmaterial.pitmaterial}}</b></big><br /><br />
    <table width="100%" border=1 cellpadding=5 cellspacing=0 >
    <tr>
        <th>
            Дата
        </th>
        <th>
            Мощность
        </th>
        {% for demand in pitmaterial.demands %}
            <th>
                (п{{ demand.pk }})<br />{{ demand }}
            </th>
        {% endfor %}
        <th>
            Всего взято
        </th>
        <th>
            Остаток
        </th>
    </tr>
    {% for date in pitmaterial.dates %}
        <tr>
            <td>
                {{ date.date|date:"d.m.Y" }}
            </td>
            <td>
                {{ pitmaterial.pitmaterial.capacity }}
            </td>
            {% for vol in date.volumes %}
                <td>
                {{ vol }}
                </td>
            {% endfor %}
            <td>
                {{ date.taken }}
            </td>
            <td>
                {{ date.remain }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br />
{% endfor %}

{% if out_truck_pitload %}
    <h2>Гузовики ... Потребности ... Карьеры</h2>
{% endif %}

{% for tl in out_truck_pitload %}
    <i>(Организация/Машина/) </i>
    <big><b>
        {{ tl.truck.org.name}} / {{ tl.truck.name}} /
        {{ tl.truck.trips}} рейсов в день / {{ tl.truck.capacity}} кбм
    </b></big>
    <br /><br />
    <table width="100%" border=1 cellpadding=5 cellspacing=0 >
    <tr>
        <th>
            Дата
        </th>
        {% for demand_pit in demand_pits %}
            <th>
                (п{{ demand_pit.demand.pk }}) - {{ demand_pit.pit.name }}
            </th>
        {% endfor %}
    </tr>
    {% for date in tl.dates %}
        <tr>
            <td>
                {{ date.date }}
            </td>
            {% for load in date.loads %}
                <td>
                    {% if load %}
                        {{ load.trips }} рейсов / {{ load.volume }} кбм
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <br />
{% endfor %}

{% if demand in out_demand_trucks %}
    <h2>Потребности-карьеры ... Грузовики</h2>
{% endif %}


{% for demand_pit in out_demand_trucks %}
    <h4>(п{{ demand_pit.demand_pit.demand.pk }}) - {{ demand_pit.demand_pit.pit.name }}</h4>
    <br />
    <table width="100%" border=1 cellpadding=5 cellspacing=0 >
    <tr>
        <th>
            Дата
        </th>
        {% for truck in trucks %}
            <th>
                {{ truck.org.name}}<br />
                {{ truck.name}}
            </th>
        {% endfor %}
        <th>
            Перевезено<br />
            кбм
        </th>
    </tr>
    {% for date in demand_pit.dates %}
        <tr>
            <td>
                {{ date.date }}
            </td>
            {% for truck in date.trucks %}
                <td>
                    {% if truck %}
                        {{ truck.trips }} рейсов<br />
                        {{ truck.volume }} кбм
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                {{ date.volume }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br />
{% endfor %}

</html>